.nav {
  display: flex;
  gap: 16px;
  padding: 12px 24px;
  background-color: #f9f9f9;
}

.link {
  text-decoration: none;
  color: rgb(12, 12, 12);
}

.link:hover {
  color: #686ffe;
}

.isActive {
  color: #3e47f4;
}
